.elementor-4003 .elementor-element.elementor-element-3bf190b{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:space-between;--gap:0px 0px;--overflow:hidden;--background-transition:0.3s;}.elementor-4003 .elementor-element.elementor-element-3bf190b:not(.elementor-motion-effects-element-type-background), .elementor-4003 .elementor-element.elementor-element-3bf190b > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#151515;}.elementor-4003 .elementor-element.elementor-element-3bf190b, .elementor-4003 .elementor-element.elementor-element-3bf190b::before{--border-transition:0.3s;}.elementor-4003 .elementor-element.elementor-element-3bf190b.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-4003 .elementor-element.elementor-element-58d4c22{--display:flex;--background-transition:0.3s;}.elementor-4003 .elementor-element.elementor-element-58d4c22.e-con{--flex-grow:0;--flex-shrink:0;}.elementor-4003 .elementor-element.elementor-element-fc63fb3{text-align:left;width:auto;max-width:auto;top:53px;}.elementor-4003 .elementor-element.elementor-element-fc63fb3 img{width:41%;}.elementor-4003 .elementor-element.elementor-element-fc63fb3.elementor-element{--align-self:flex-start;}body:not(.rtl) .elementor-4003 .elementor-element.elementor-element-fc63fb3{left:9px;}body.rtl .elementor-4003 .elementor-element.elementor-element-fc63fb3{right:9px;}.elementor-4003 .elementor-element.elementor-element-95394e6{text-align:left;width:auto;max-width:auto;top:73px;}.elementor-4003 .elementor-element.elementor-element-95394e6 .elementor-heading-title{color:#00000000;font-family:"Montserrat", Sans-serif;font-size:12px;font-weight:600;}.elementor-4003 .elementor-element.elementor-element-95394e6.elementor-element{--align-self:flex-start;--flex-grow:0;--flex-shrink:0;}body:not(.rtl) .elementor-4003 .elementor-element.elementor-element-95394e6{left:102px;}body.rtl .elementor-4003 .elementor-element.elementor-element-95394e6{right:102px;}.elementor-4003 .elementor-element.elementor-element-06cd69b{--divider-border-style:solid;--divider-color:#5F5F5F;--divider-border-width:1.7px;width:var( --container-widget-width, 86.419% );max-width:86.419%;--container-widget-width:86.419%;--container-widget-flex-grow:0;}.elementor-4003 .elementor-element.elementor-element-06cd69b .elementor-divider-separator{width:89%;margin:0 auto;margin-center:0;}.elementor-4003 .elementor-element.elementor-element-06cd69b .elementor-divider{text-align:center;padding-block-start:8px;padding-block-end:8px;}.elementor-4003 .elementor-element.elementor-element-06cd69b > .elementor-widget-container{margin:123px 0px 0px 0px;}.elementor-4003 .elementor-element.elementor-element-06cd69b.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-4003 .elementor-element.elementor-element-987efda .elementor-button{background-color:#272727;border-radius:10px 10px 10px 10px;}.elementor-4003 .elementor-element.elementor-element-4e0b67a{--display:flex;--background-transition:0.3s;}.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(5px/2);}.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(5px/2);}.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(5px/2);margin-left:calc(5px/2);}.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-5px/2);margin-left:calc(-5px/2);}body.rtl .elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-5px/2);}body:not(.rtl) .elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-5px/2);}.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-4003 .elementor-element.elementor-element-6ecffb7{--e-icon-list-icon-size:42px;--icon-vertical-offset:0px;}.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-text{transition:color 0.3s;}.elementor-4003 .elementor-element.elementor-element-6ecffb7 > .elementor-widget-container{margin:17px 0px 20px 0px;}.elementor-4003 .elementor-element.elementor-element-1c2b3e2{--display:flex;--background-transition:0.3s;--margin-block-start:-191px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-4003 .elementor-element.elementor-element-992dae7{--divider-border-style:solid;--divider-color:#424242;--divider-border-width:1px;}.elementor-4003 .elementor-element.elementor-element-992dae7 .elementor-divider-separator{width:100%;}.elementor-4003 .elementor-element.elementor-element-992dae7 .elementor-divider{padding-block-start:13px;padding-block-end:13px;}.elementor-4003 .elementor-element.elementor-element-444e9f3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(6px/2);}.elementor-4003 .elementor-element.elementor-element-444e9f3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(6px/2);}.elementor-4003 .elementor-element.elementor-element-444e9f3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(6px/2);margin-left:calc(6px/2);}.elementor-4003 .elementor-element.elementor-element-444e9f3 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-6px/2);margin-left:calc(-6px/2);}body.rtl .elementor-4003 .elementor-element.elementor-element-444e9f3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-6px/2);}body:not(.rtl) .elementor-4003 .elementor-element.elementor-element-444e9f3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-6px/2);}.elementor-4003 .elementor-element.elementor-element-444e9f3 .elementor-icon-list-icon i{color:#585757;transition:color 0.3s;}.elementor-4003 .elementor-element.elementor-element-444e9f3 .elementor-icon-list-icon svg{fill:#585757;transition:fill 0.3s;}.elementor-4003 .elementor-element.elementor-element-444e9f3{--e-icon-list-icon-size:39px;--icon-vertical-offset:0px;}.elementor-4003 .elementor-element.elementor-element-444e9f3 .elementor-icon-list-icon{padding-right:2px;}.elementor-4003 .elementor-element.elementor-element-444e9f3 .elementor-icon-list-text{color:#585757;transition:color 0.3s;}@media(max-width:1024px){.elementor-4003 .elementor-element.elementor-element-fc63fb3{top:59px;}body:not(.rtl) .elementor-4003 .elementor-element.elementor-element-95394e6{left:71px;}body.rtl .elementor-4003 .elementor-element.elementor-element-95394e6{right:71px;}}@media(min-width:768px){.elementor-4003 .elementor-element.elementor-element-3bf190b{--width:99%;}.elementor-4003 .elementor-element.elementor-element-58d4c22{--width:100%;}}/* Start custom CSS for heading, class: .elementor-element-95394e6 */.elementor-4003 .elementor-element.elementor-element-95394e6 .elementor-heading-title{
 background-image: linear-gradient(to bottom, #00CDD5
, #011F7B
);
 background-clip: text;
 -webkit-background-clip: text;
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-6ecffb7 */.elementor-4003 .elementor-element.elementor-element-6ecffb7{
    --radius: 8px;
    
}
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-icon{
  color: currentColor;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: currentColor;
  text-align: center;
}
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-item.active .elementor-icon-list-icon,
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-item:hover .elementor-icon-list-icon{
    -webkit-text-stroke-width: 1px;
}
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-item a{
    padding: 13px 18px !important;
    border-radius: var(--radius);
}
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-item.active a,
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-item:hover a{
    background: #fff;
}
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-item.active span,
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-item:hover span,
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-item.active span i,
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-item:hover span i{
    color: #000;
}
.elementor-4003 .elementor-element.elementor-element-6ecffb7 .elementor-icon-list-text{
    min-width: var(--width);
}
.elementor-4003 .elementor-element.elementor-element-6ecffb7 a:focus{
    outline: none;
}/* End custom CSS */
/* Start custom CSS for shortcode, class: .elementor-element-46ae8d8 */.gt_float_switcher {
    
       
          background-color:  transparent !important;
          
    box-shadow: none !important;
         
}
.gt-selected{
    background-color:  transparent !important;
}
.gt-selected .gt-current-lang{
        background-color: transparent !important;
    color: #585757 !important;
    border: none;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-3bf190b */:root{
    --width: 250px;
    --narrow-width: 80px;
}

.elementor-4003 .elementor-element.elementor-element-3bf190b{
    width: var(--width);
    overflow: auto;
    position: fixed;
    transition: all 0.3s ease-in-out !important;
    overflow-x: hidden;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none
}
.elementor-4003 .elementor-element.elementor-element-3bf190b::-webkit-scrollbar{
    display: none;
}

.sidebar-toggle{
    cursor: pointer;
}

body.opening .elementor-4003 .elementor-element.elementor-element-3bf190b{
    width: var(--narrow-width) !important;
}
body.opening .elementor-4003 .elementor-element.elementor-element-3bf190b .elementor-inner-section .elementor-widget-wrap{
    padding-left: 14px !important;
    padding-right: 14px !important;
}
.elementor-4003 .elementor-element.elementor-element-3bf190b .logo{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-4003 .elementor-element.elementor-element-3bf190b .logo{
    opacity: 0;
}
body.open .elementor-4003 .elementor-element.elementor-element-3bf190b .logo{
    display: none;
}
body.opening .elementor-4003 .elementor-element.elementor-element-3bf190b .sidebar-toggle{
    right: 26px;
}
.elementor-4003 .elementor-element.elementor-element-3bf190b .elementor-widget-search-form form{
    position: relative;
}
.elementor-4003 .elementor-element.elementor-element-3bf190b .elementor-widget-search-form form:before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
body.opening .elementor-4003 .elementor-element.elementor-element-3bf190b .elementor-widget-search-form form:before{
    z-index: 1;
}
body.opening .elementor-4003 .elementor-element.elementor-element-3bf190b .elementor-search-form__icon{
    padding-left: 14px !important;
}
.elementor-4003 .elementor-element.elementor-element-3bf190b .elementor-icon-list-text{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-4003 .elementor-element.elementor-element-3bf190b .elementor-icon-list-text{
    opacity: 0;
}

.elementor-4003 .elementor-element.elementor-element-3bf190b .elementor-widget-image-box{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-4003 .elementor-element.elementor-element-3bf190b .elementor-widget-image-box{
    opacity: 0;
}
.elementor-4003 .elementor-element.elementor-element-3bf190b .user{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-4003 .elementor-element.elementor-element-3bf190b .user .elementor-widget-wrap{
    padding-left: 20px !important;
    padding-right: 20px !important;
}
body.opening  .elementor-4003 .elementor-element.elementor-element-3bf190b .user img {
    width: 40px;
    transition: all 0.3s ease-in-out;
}

header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--width);
    transition: all 0.3s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
}

@media (max-width: 1024px){
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
    transform: translateX(calc(var(--width) - var(--narrow-width)));
    transition: all 0.6s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    transform: translateX(0);
    transition: all 0.3s ease-in-out !important;
}
html, body{
    overflow-x: hidden;
}
}

@media (max-width: 767px){
.elementor-4003 .elementor-element.elementor-element-3bf190b{
    height: 100vh;
}
body.left .elementor-4003 .elementor-element.elementor-element-3bf190b{
    transform: translateX(calc(-1*var(--width)));   
}
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: 0;
    transform: translateX(var(--width));
    transition: all 0.3s ease-in-out !important;
}
body.left header + *,
body.left [data-elementor-type="header"] + *,
body.left footer,
body.left [data-elementor-type="footer"]{
    transform: translateX(0);
}
}

.site-content footer,
.site-content header + *{
    margin: 0 !important;
    transform: none !important;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://freeaichat.info/wp-content/uploads/2024/03/Montserrat-VariableFont_wght.ttf') format('truetype');
}
/* End Custom Fonts CSS */