.elementor-3989 .elementor-element.elementor-element-b3c965c{--display:flex;--min-height:100vh;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-b3c965c:not(.elementor-motion-effects-element-type-background), .elementor-3989 .elementor-element.elementor-element-b3c965c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#000000;}.elementor-3989 .elementor-element.elementor-element-b3c965c, .elementor-3989 .elementor-element.elementor-element-b3c965c::before{--border-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-3a4b678{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--gap:0px 0px;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-fee0e99{text-align:left;width:var( --container-widget-width, 35.238% );max-width:35.238%;--container-widget-width:35.238%;--container-widget-flex-grow:0;}.elementor-3989 .elementor-element.elementor-element-fee0e99.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-3989 .elementor-element.elementor-element-c1e284f{text-align:left;}.elementor-3989 .elementor-element.elementor-element-c1e284f.elementor-element{--align-self:center;}.elementor-3989 .elementor-element.elementor-element-92c0893 .elementor-icon-wrapper{text-align:center;}.elementor-3989 .elementor-element.elementor-element-92c0893.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;}.elementor-3989 .elementor-element.elementor-element-92c0893.elementor-view-framed .elementor-icon, .elementor-3989 .elementor-element.elementor-element-92c0893.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-3989 .elementor-element.elementor-element-92c0893.elementor-view-framed .elementor-icon, .elementor-3989 .elementor-element.elementor-element-92c0893.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-3989 .elementor-element.elementor-element-92c0893 .elementor-icon{font-size:28px;}.elementor-3989 .elementor-element.elementor-element-92c0893 .elementor-icon svg{height:28px;}.elementor-3989 .elementor-element.elementor-element-92c0893.elementor-element{--align-self:center;}.elementor-3989 .elementor-element.elementor-element-4dfa74b{--display:flex;--gap:0px 0px;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-c0bab0a .elementor-button{background-color:#272727;border-radius:10px 10px 10px 10px;}.elementor-3989 .elementor-element.elementor-element-b208903{--display:flex;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(5px/2);}.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(5px/2);}.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(5px/2);margin-left:calc(5px/2);}.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-5px/2);margin-left:calc(-5px/2);}body.rtl .elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-5px/2);}body:not(.rtl) .elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-5px/2);}.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-icon i{transition:color 0.3s;}.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-icon svg{transition:fill 0.3s;}.elementor-3989 .elementor-element.elementor-element-6d9dbba{--e-icon-list-icon-size:42px;--icon-vertical-offset:0px;}.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-text{transition:color 0.3s;}.elementor-3989 .elementor-element.elementor-element-6d9dbba > .elementor-widget-container{margin:17px 0px 20px 0px;}.elementor-3989 .elementor-element.elementor-element-6961c4e{--display:flex;--gap:0px 0px;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-0931380{--spacer-size:28px;}.elementor-3989 .elementor-element.elementor-element-dc26bd3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:last-child){padding-bottom:calc(6px/2);}.elementor-3989 .elementor-element.elementor-element-dc26bd3 .elementor-icon-list-items:not(.elementor-inline-items) .elementor-icon-list-item:not(:first-child){margin-top:calc(6px/2);}.elementor-3989 .elementor-element.elementor-element-dc26bd3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item{margin-right:calc(6px/2);margin-left:calc(6px/2);}.elementor-3989 .elementor-element.elementor-element-dc26bd3 .elementor-icon-list-items.elementor-inline-items{margin-right:calc(-6px/2);margin-left:calc(-6px/2);}body.rtl .elementor-3989 .elementor-element.elementor-element-dc26bd3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{left:calc(-6px/2);}body:not(.rtl) .elementor-3989 .elementor-element.elementor-element-dc26bd3 .elementor-icon-list-items.elementor-inline-items .elementor-icon-list-item:after{right:calc(-6px/2);}.elementor-3989 .elementor-element.elementor-element-dc26bd3 .elementor-icon-list-icon i{color:#585757;transition:color 0.3s;}.elementor-3989 .elementor-element.elementor-element-dc26bd3 .elementor-icon-list-icon svg{fill:#585757;transition:fill 0.3s;}.elementor-3989 .elementor-element.elementor-element-dc26bd3{--e-icon-list-icon-size:39px;--icon-vertical-offset:0px;}.elementor-3989 .elementor-element.elementor-element-dc26bd3 .elementor-icon-list-icon{padding-right:2px;}.elementor-3989 .elementor-element.elementor-element-dc26bd3 .elementor-icon-list-text{color:#585757;transition:color 0.3s;}.elementor-3989 .elementor-element.elementor-element-0c273fe{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-0c273fe.e-con{--e-con-transform-translateX:165px;}.elementor-3989 .elementor-element.elementor-element-1f37b0f .elementor-icon-wrapper{text-align:center;}.elementor-3989 .elementor-element.elementor-element-1f37b0f.elementor-view-stacked .elementor-icon{background-color:#FEFEFE;}.elementor-3989 .elementor-element.elementor-element-1f37b0f.elementor-view-framed .elementor-icon, .elementor-3989 .elementor-element.elementor-element-1f37b0f.elementor-view-default .elementor-icon{color:#FEFEFE;border-color:#FEFEFE;}.elementor-3989 .elementor-element.elementor-element-1f37b0f.elementor-view-framed .elementor-icon, .elementor-3989 .elementor-element.elementor-element-1f37b0f.elementor-view-default .elementor-icon svg{fill:#FEFEFE;}.elementor-3989 .elementor-element.elementor-element-1f37b0f .elementor-icon{font-size:33px;}.elementor-3989 .elementor-element.elementor-element-1f37b0f .elementor-icon svg{height:33px;}.elementor-3989 .elementor-element.elementor-element-1989bda{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-1989bda.e-con{--e-con-transform-translateX:165px;}.elementor-3989 .elementor-element.elementor-element-f5fc148{--display:flex;--align-items:flex-end;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-f5fc148.e-con{--align-self:flex-end;}.elementor-3989 .elementor-element.elementor-element-e480281{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;--border-radius:20px 20px 20px 20px;}.elementor-3989 .elementor-element.elementor-element-e480281:not(.elementor-motion-effects-element-type-background), .elementor-3989 .elementor-element.elementor-element-e480281 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#282828;}.elementor-3989 .elementor-element.elementor-element-e480281, .elementor-3989 .elementor-element.elementor-element-e480281::before{--border-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-a826b57 .elementor-heading-title{color:#00000000;}.elementor-3989 .elementor-element.elementor-element-f9eedd6{color:#FFFFFFE6;}.elementor-3989 .elementor-element.elementor-element-0993d8f{--display:flex;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-0993d8f.e-con{--e-con-transform-translateX:165px;}.elementor-3989 .elementor-element.elementor-element-92c6aeb{--display:flex;--align-items:flex-end;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-92c6aeb.e-con{--align-self:flex-end;}.elementor-3989 .elementor-element.elementor-element-1544a25{--display:flex;--min-height:124px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--gap:1px 1px;--background-transition:0.3s;--border-radius:20px 20px 20px 20px;}.elementor-3989 .elementor-element.elementor-element-1544a25:not(.elementor-motion-effects-element-type-background), .elementor-3989 .elementor-element.elementor-element-1544a25 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#282828;}.elementor-3989 .elementor-element.elementor-element-1544a25, .elementor-3989 .elementor-element.elementor-element-1544a25::before{--border-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-4864881{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-41713ef{width:auto;max-width:auto;}.elementor-3989 .elementor-element.elementor-element-41713ef.elementor-element{--align-self:flex-start;}.elementor-3989 .elementor-element.elementor-element-a8d38bf{text-align:left;width:auto;max-width:auto;}.elementor-3989 .elementor-element.elementor-element-a8d38bf .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:500;line-height:53px;}.elementor-3989 .elementor-element.elementor-element-a8d38bf.elementor-element{--align-self:flex-start;}.elementor-3989 .elementor-element.elementor-element-f1ab3c6{color:#FFFFFFE6;width:var( --container-widget-width, 88% );max-width:88%;--container-widget-width:88%;--container-widget-flex-grow:0;}.elementor-3989 .elementor-element.elementor-element-f1ab3c6.elementor-element{--align-self:flex-end;}.elementor-3989 .elementor-element.elementor-element-17d38c3{--display:flex;--min-height:150px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--gap:1px 1px;--background-transition:0.3s;--border-radius:20px 20px 20px 20px;}.elementor-3989 .elementor-element.elementor-element-17d38c3:not(.elementor-motion-effects-element-type-background), .elementor-3989 .elementor-element.elementor-element-17d38c3 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#151515;}.elementor-3989 .elementor-element.elementor-element-17d38c3, .elementor-3989 .elementor-element.elementor-element-17d38c3::before{--border-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-978fd62{--display:flex;--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-56bebcb .elementor-heading-title{color:#FFFFFF;font-family:"Montserrat", Sans-serif;font-size:18px;font-weight:500;line-height:45px;}.elementor-3989 .elementor-element.elementor-element-56bebcb{width:auto;max-width:auto;}.elementor-3989 .elementor-element.elementor-element-56bebcb.elementor-element{--align-self:flex-start;}.elementor-3989 .elementor-element.elementor-element-59f48cf{text-align:left;color:#FFFFFFE6;width:var( --container-widget-width, 91% );max-width:91%;--container-widget-width:91%;--container-widget-flex-grow:0;}.elementor-3989 .elementor-element.elementor-element-59f48cf.elementor-element{--align-self:flex-end;}.elementor-3989 .elementor-element.elementor-element-6acad0e{--display:flex;--min-height:0px;--flex-direction:column;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:flex-end;--background-transition:0.3s;}.elementor-3989 .elementor-element.elementor-element-6acad0e.e-con{--align-self:flex-end;--flex-grow:0;--flex-shrink:0;--e-con-transform-translateX:166px;}.elementor-3989 .elementor-element.elementor-element-e22c8d3{--display:flex;--background-transition:0.3s;--position:fixed;bottom:0px;}body:not(.rtl) .elementor-3989 .elementor-element.elementor-element-e22c8d3{left:0px;}body.rtl .elementor-3989 .elementor-element.elementor-element-e22c8d3{right:0px;}.elementor-3989 .elementor-element.elementor-element-efd9de9{width:100%;max-width:100%;}.elementor-3989 .elementor-element.elementor-element-efd9de9.elementor-element{--align-self:flex-end;}.elementor-3989 .elementor-element.elementor-element-589df1f{text-align:center;color:#FFFFFFE6;font-family:"Montserrat", Sans-serif;font-size:9px;font-weight:400;}.elementor-3989 .elementor-element.elementor-element-78767ca.elementor-element{--align-self:flex-end;}:root{--page-title-display:none;}body.elementor-page-3989:not(.elementor-motion-effects-element-type-background), body.elementor-page-3989 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#0A0A0A;}@media(max-width:1024px){.elementor-3989 .elementor-element.elementor-element-0c273fe{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:159px;--margin-inline-end:0px;}.elementor-3989 .elementor-element.elementor-element-0c273fe.e-con{--e-con-transform-translateX:46px;}.elementor-3989 .elementor-element.elementor-element-1989bda{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:159px;--margin-inline-end:0px;}.elementor-3989 .elementor-element.elementor-element-1989bda.e-con{--e-con-transform-translateX:46px;}.elementor-3989 .elementor-element.elementor-element-0993d8f{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:159px;--margin-inline-end:0px;}.elementor-3989 .elementor-element.elementor-element-0993d8f.e-con{--e-con-transform-translateX:46px;}.elementor-3989 .elementor-element.elementor-element-6acad0e.e-con{--e-con-transform-translateX:90px;}}@media(max-width:767px){.elementor-3989 .elementor-element.elementor-element-0c273fe{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-3989 .elementor-element.elementor-element-0c273fe.e-con{--e-con-transform-translateX:0px;}.elementor-3989 .elementor-element.elementor-element-1989bda{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-3989 .elementor-element.elementor-element-1989bda.e-con{--e-con-transform-translateX:0px;}.elementor-3989 .elementor-element.elementor-element-0993d8f{--margin-block-start:0px;--margin-block-end:0px;--margin-inline-start:0px;--margin-inline-end:0px;}.elementor-3989 .elementor-element.elementor-element-0993d8f.e-con{--e-con-transform-translateX:0px;}.elementor-3989 .elementor-element.elementor-element-6acad0e{--width:500px;}.elementor-3989 .elementor-element.elementor-element-6acad0e.e-con{--e-con-transform-translateX:0px;}}@media(min-width:768px){.elementor-3989 .elementor-element.elementor-element-0c273fe{--content-width:862px;}.elementor-3989 .elementor-element.elementor-element-1989bda{--content-width:862px;}.elementor-3989 .elementor-element.elementor-element-0993d8f{--content-width:862px;}.elementor-3989 .elementor-element.elementor-element-1544a25{--content-width:1062px;}.elementor-3989 .elementor-element.elementor-element-6acad0e{--width:73%;}}@media(max-width:1024px) and (min-width:768px){.elementor-3989 .elementor-element.elementor-element-6acad0e{--width:723px;}}/* Start custom CSS for icon, class: .elementor-element-92c0893 */.elementor-3989 .elementor-element.elementor-element-92c0893 .elementor-icon{
    position: relative;
}
.elementor-3989 .elementor-element.elementor-element-92c0893 i:before,
.elementor-3989 .elementor-element.elementor-element-92c0893 i:after,
.elementor-3989 .elementor-element.elementor-element-92c0893 .elementor-icon:after{
    content: "";
    height: 0.05em;
    width: 0.8em;
    position: absolute;
    background: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 0.25em));
}
.elementor-3989 .elementor-element.elementor-element-92c0893 i:after{
    transform: translate(-50%,calc(-50% - 0.25em));
}
.elementor-3989 .elementor-element.elementor-element-92c0893 .elementor-icon:after{
    transform: translate(-50%,-50%);
}/* End custom CSS */
/* Start custom CSS for icon-list, class: .elementor-element-6d9dbba */.elementor-3989 .elementor-element.elementor-element-6d9dbba{
    --radius: 8px;
    
}
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-icon{
  color: currentColor;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: currentColor;
  text-align: center;
}
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-item.active .elementor-icon-list-icon,
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-item:hover .elementor-icon-list-icon{
    -webkit-text-stroke-width: 1px;
}
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-item a{
    padding: 13px 18px !important;
    border-radius: var(--radius);
}
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-item.active a,
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-item:hover a{
    background: #fff;
}
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-item.active span,
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-item:hover span,
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-item.active span i,
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-item:hover span i{
    color: #000;
}
.elementor-3989 .elementor-element.elementor-element-6d9dbba .elementor-icon-list-text{
    min-width: var(--width);
}
.elementor-3989 .elementor-element.elementor-element-6d9dbba a:focus{
    outline: none;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-b3c965c */.elementor-3989 .elementor-element.elementor-element-b3c965c{
    width: 250px;
    overflow: auto;
    position: fixed;
    transition: all 0.3s ease-in-out !important;
    overflow-x: hidden;
    z-index: 1;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.elementor-3989 .elementor-element.elementor-element-b3c965c::-webkit-scrollbar{
    display: none;
}

.slide{
    transform: translateX(0px) !important;
}

.full-width{
    margin-left: 80px !important;
    width: 100%;
    transition: all 0.3s ease;
}

.main-content{
    margin-left: 250px;
    transition: all 0.3s ease;
    width: 100%;
}


body.opening .sidebar{
    width: 80px !important;
    transition: all 0.3s ease-in-out;
}

.elementor-3989 .elementor-element.elementor-element-b3c965c .elementor-icon-list-item.active span,
.elementor-3989 .elementor-element.elementor-element-b3c965c .elementor-icon-list-item:hover span,
.elementor-3989 .elementor-element.elementor-element-b3c965c .elementor-icon-list-item.active span i,
.elementor-3989 .elementor-element.elementor-element-b3c965c .elementor-icon-list-item:hover span i{
    color: #000;
}
.elementor-3989 .elementor-element.elementor-element-b3c965c span:focus{
    outline: none;
}


.elementor-icon-list-item{
    padding-bottom: 0px !important;
    padding: 10px 10px !important;
}

.elementor-icon-list-item:hover{
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
}



body.opening .elementor-widget-search-form form:before{
    z-index: 1;
}
body.opening .elementor-search-form__icon{
    padding-left: 14px !important;
}
.elementor-icon-list-text{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-icon-list-text{
    opacity: 0;
}
.elementor-widget-image-box{
    transition: all 0.3s ease-in-out;
}
body.opening .elementor-widget-image-box{
    opacity: 0;
}
.user{
    transition: all 0.3s ease-in-out;
}
body.opening .user .elementor-widget-wrap{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.logo{
    transition: all 0.3s ease-in-out;
}
body.opening .logo{
    opacity: 0;
}
body.open .logo{
    display: none;
}

.sidebar-toggle:hover, .sidebar-toggle1:hover{
    cursor: pointer;
}

body.opening .sidebar-toggle{
    left: 25px !important;
}

body.opening .user .elementor-widget-heading{
    display: none;
}

body.opening .user img {
    min-width: 40px !important;
    transition: all 0.3s ease-in-out;
}

body.opening .user img {
    width: 40px;
    transition: all 0.3s ease-in-out;
}
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--width);
    transition: all 0.3s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
}
@media (max-width: 1024px){
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: var(--narrow-width);
    transform: translateX(calc(var(--width) - var(--narrow-width)));
    transition: all 0.6s ease-in-out !important;
}
body.opening header + *,
body.opening [data-elementor-type="header"] + *,
body.opening footer,
body.opening [data-elementor-type="footer"]{
    transform: translateX(0);
    transition: all 0.3s ease-in-out !important;
}
}
@media (max-width: 767px){
.elementor-3989 .elementor-element.elementor-element-b3c965c{
    height: auto;
}
body.left .elementor-3989 .elementor-element.elementor-element-b3c965c{
    transform: translateX(calc(-1*var(--width)));   
}
header + *,
[data-elementor-type="header"] + *,
footer,
[data-elementor-type="footer"]{
    margin-left: 0;
    transform: translateX(var(--width));
    transition: all 0.3s ease-in-out !important;
}
body.left header + *,
body.left [data-elementor-type="header"] + *,
body.left footer,
body.left [data-elementor-type="footer"]{
    transform: translateX(0);
}

.sidebar-toggle{
    display: none;
}
.main-content{
    margin-left: 0px;
}

}
.site-content footer,
.site-content header + *{
    margin: 0 !important;
    transform: none !important;
}

body.opening .elementor-inner-section .elementor-widget-wrap{
    padding-left: 14px !important;
    padding-right: 14px !important;
}

html, body{
    overflow-x: hidden;
}/* End custom CSS */
/* Start custom CSS for icon, class: .elementor-element-1f37b0f */.elementor-3989 .elementor-element.elementor-element-1f37b0f .elementor-icon{
    position: relative;
}
.elementor-3989 .elementor-element.elementor-element-1f37b0f i:before,
.elementor-3989 .elementor-element.elementor-element-1f37b0f i:after,
.elementor-3989 .elementor-element.elementor-element-1f37b0f .elementor-icon:after{
    content: "";
    height: 0.05em;
    width: 0.8em;
    position: absolute;
    background: currentColor;
    top: 50%;
    left: 50%;
    transform: translate(-50%,calc(-50% + 0.25em));
}
.elementor-3989 .elementor-element.elementor-element-1f37b0f i:after{
    transform: translate(-50%,calc(-50% - 0.25em));
}
.elementor-3989 .elementor-element.elementor-element-1f37b0f .elementor-icon:after{
    transform: translate(-50%,-50%);
}/* End custom CSS */
/* Start custom CSS for heading, class: .elementor-element-a826b57 */.elementor-3989 .elementor-element.elementor-element-a826b57 .elementor-heading-title{
 background-image: linear-gradient(to bottom, #00CDD5
, #011F7B
);
 background-clip: text;
 -webkit-background-clip: text;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-6acad0e */.elementor-3989 .elementor-element.elementor-element-6acad0e  {
  height: 60vh;
    margin-top: auto;
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('https://freeaichat.info/wp-content/uploads/2024/03/Montserrat-VariableFont_wght.ttf') format('truetype');
}
/* End Custom Fonts CSS */